@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts (local) */
@font-face {
  font-family: 'DM Sans Var';
  src: url('/public/assets/fonts/DMSans-Variable.ttf') format('truetype');
  font-weight: 300 700;
  font-display: swap;
}

@font-face {
  font-family: 'Bricolage Var';
  src: url('/public/assets/fonts/BricolageGrotesque-Variable.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
}

:root {
  --font-sans: 'DM Sans Var';
  --font-display: 'Bricolage Var';
}

html,
body {
  height: 100%;
  background: hsl(243 96% 9%); /* Neutral 900 */
  color: hsl(0 0% 100%);
}

/* Reusable tokens */
.container-pad {
  @apply mx-auto max-w-[1100px] px-4 md:px-8;
}

.card {
  @apply rounded-xl border border-neutral-700 bg-neutral-800/80 shadow-card backdrop-blur;
}

.metric {
  @apply card flex min-w-[150px] flex-col gap-6 p-5 md:px-6 md:py-4;
}

.h1 {
  @apply text-center font-display text-5xl font-bold text-neutral-0 md:text-left;
}
